<configuration>
    <system.webServer>
        <!-- Configuración de errores personalizados -->
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/sistemas/errores/404.php" responseMode="ExecuteURL" />

            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" path="/sistemas/errores/500.php" responseMode="ExecuteURL" />
        </httpErrors>

        <!-- Configuración para aceptar archivos con y sin extensión -->
        <rewrite>
            <rules>
                <rule name="Rewrite without extension" stopProcessing="true">
                    <match url="^([^\.]+)$" />
                    <conditions>
                        <!-- No reescribir si el archivo ya existe -->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <!-- No reescribir si es un directorio -->
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
